<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website uses data from mapbpx.com and darksky.net.</p>
        <img class="portrait" src="/img/img.jpg">
        <p>PS. Alex Trappett is a sick laddddd</p>
    </div>
    {{>footer}}
</body>

</html>